.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color:#fff;
    padding: 10px;
    margin: 10px;
    width:300vw;
    height:400vh;
}

.section-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color:#fff;
    width:300vw;
}
.section-2 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    background-color:#fff;
    width:300vw;
    height:300vh;
}